/*
    Name: FLAT BLUE
    Version: 1.2
    Author: CypherPotato

    Tested on CyberPanel 2.3 build 1
    Served with APACHE-2.0 license

    - CyberPanel repo: https://github.com/usmannasir/cyberpanel/
*/

:root {
    --theme-color-0: #4040c5;
    --theme-color-1: #303092;
    --theme-color-2: #202062;
    --theme-color-3: #101052;
}

textarea {
    font-family: monospace;
}
#sidebar-menu-item-server-ip-address span {
    color: white !important;
    font-weight: 400 !important;
}
#sidebar-menu-item-server-ip-address span:before {
    content: "Logged at ";
}
h1, h2, h3, h4, h5, h6,
#page-title > h2,
#page-title > p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.btn:not(.toggle) {
    border-width: 0px;
}
.btn-primary {
    border-width: 0px;
    background-color: var(--theme-color-1);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus {
    background: var(--theme-color-2);
    background-color: var(--theme-color-2);
}
.btn-primary:active {
    background-color: var(--theme-color-3);
}
#header-nav-right .header-btn {
    border-color: rgba(0, 0, 0, 0.2);
}
#header-nav-right .header-btn:hover {
    border-color: var(--theme-color-1);
}
#header-nav-right .header-btn i {
    color: #222 !important;
}
#page-header {
    background: white;
}
.sidebar-submenu {
    margin: 0px !important;
}
.sidebar-submenu li {
    background-color: var(--theme-color-2);
    list-style: none;
}
#page-sidebar li ul li a:before {
    display: none !important;
}
#sidebar-menu li .sidebar-submenu ul li a:hover,#sidebar-menu li .sidebar-submenu ul li a.sfActive {
    background-color: var(--theme-color-3);
}
#sidebar-menu li .sidebar-submenu ul li, #sidebar-menu li .sidebar-submenu {
    border-width: 0px;
}
#sidebar-menu, #header-logo {
    background: var(--theme-color-1);
    padding: 0;
}
#sidebar-menu > li > a, #page-sidebar li ul li a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-width: 0;
    color: white !important;
    padding: 0px 15px;
    font-size: 14px;
}
#page-sidebar ul li.header {
    color: white !important;
    padding: 20px 15px;
    margin: 0;
    border-top: 1px solid var(--theme-color-0);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#page-sidebar ul li.divider {
    display: none;
}
#sidebar-menu > li > a:hover {
    background-color: var(--theme-color-2);
}
#page-sidebar ul li a .glyph-icon {
    display: none;
}